In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

bad = pd.read_csv('darkwizards.csv')
bad[:5]
#print(bad.values)

,bad wizards,magic force,phys force,magic stable,phys stable,price,number
0,skeletons,0.0,0.2,0.7,0.8,85,8
1,zombie,0.0,0.3,0.7,0.5,90,5
2,vamps,0.5,0.5,0.5,0.5,200,3
3,witches,0.7,0.4,0.4,0.6,290,2
4,dragonbone,0.7,0.7,0.3,0.3,490,1

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
good = pd.read_csv('wizards.csv')
good[:5]

,wizards,magic force,phys force,magic stable,phys stable,price,number
0,village guys,0.0,0.30,0.8,0.8,90,NaN
1,elves,0.3,0.10,0.6,0.8,100,NaN
2,knight,0.3,0.65,0.5,0.5,199,NaN
3,pixies,0.7,0.30,0.4,0.6,200,NaN
4,titans,0.0,0.80,0.3,0.2,390,NaN

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

maxPhysBad = 0
maxMagicBad = 0
for i in range(5):    
    if maxMagicBad < bad.values[i][3] * bad.values[i][6] /19:
        maxMagicBad = bad.values[i][3] * bad.values[i][6] / 19
    if maxPhysBad < bad.values[i][4]*bad.values[i][6] / 19:
        maxPhysBad =  bad.values[i][4]*bad.values[i][6] / 19
        
print('в идеале моя армия должна быть такой, чтобы, сила магии была больше чем:')        
print(maxMagicBad)
print('в идеале моя армия должна быть такой, чтобы, физическая сила была больше чем:') 
print(maxPhysBad)

в идеале моя армия должна быть такой, чтобы, сила магии была больше чем:
0.29473684210526313
в идеале моя армия должна быть такой, чтобы, физическая сила была больше чем:
0.3368421052631579

In [5]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

maxPhysBadForce = 0
maxMagicBadForce = 0
for i in range(5):    
    if maxMagicBadForce < bad.values[i][1] * bad.values[i][6] / 19:
        maxMagicBadForce = bad.values[i][1] * bad.values[i][6] / 19
    if maxPhysBadForce < bad.values[i][2]*bad.values[i][6] / 19:
        maxPhysBadForce =  bad.values[i][2]*bad.values[i][6] / 19
        
print('в идеале средняя устойчивость моей армии к магии должна быть больше чем:')        
print(maxMagicBadForce)
print('в идеале средняя устойчивость моей армии к физической силе должна быть больше чем:') 
print(maxPhysBadForce)

в идеале средняя устойчивость моей армии к магии должна быть больше чем:
0.07894736842105263
в идеале средняя устойчивость моей армии к физической силе должна быть больше чем:
0.08421052631578947

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

df2 = pd.DataFrame(columns=['skeleton', 'zombie', 'vamp', 'witch', 'gragonbone'], index = ['village guy', 'elf', 'knight', 'pixie', 'titan'])
df2

print(df2.values)

[[nan nan nan nan nan]
 [nan nan nan nan nan]
 [nan nan nan nan nan]
 [nan nan nan nan nan]
 [nan nan nan nan nan]]

In [21]:
#r = [][]
maxi = []
for i in range(5):
    for j in range(5):
        #print(bad.values[i][0] +" vs. " + good.values[j][0])
        #print(max(float(bad.values[i][1]) * float(good.values[j][1]), float(bad.values[i][2]) * float(good.values[j][2])))
        #if float(bad.values[i][1]) * float(good.values[j][1]) >  float(bad.values[i][2]) * float(good.values[j][2]):
        maxi.append(max(float(bad.values[i][1]) * float(good.values[j][1]), float(bad.values[i][2]) * float(good.values[j][2])))
        #r[i][j].append(max(float(bad.values[i][1]) * float(good.values[j][1]), float(bad.values[i][2]) * float(good.values[j][2])))
        df2.values[i][j] = max(float(bad.values[i][1]) * float(good.values[j][1]), float(bad.values[i][2]) * float(good.values[j][2]))
        #print('_____')
      
    
    #print('##########')
print(maxi)

df2

[0.06, 0.020000000000000004, 0.13, 0.06, 0.16000000000000003, 0.09, 0.03, 0.195, 0.09, 0.24, 0.15, 0.15, 0.325, 0.35, 0.4, 0.12, 0.21, 0.26, 0.48999999999999994, 0.32000000000000006, 0.21, 0.21, 0.45499999999999996, 0.48999999999999994, 0.5599999999999999]

            skeleton zombie   vamp witch gragonbone
village guy     0.06   0.02   0.13  0.06       0.16
elf             0.09   0.03  0.195  0.09       0.24
knight          0.15   0.15  0.325  0.35        0.4
pixie           0.12   0.21   0.26  0.49       0.32
titan           0.21   0.21  0.455  0.49       0.56